.App {
  padding: 1em;
  background-color: #fbf7ed;
}

.App-header {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
