.App {
  background-color: #fbf7ed;
}

.App-header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  background: url("../assets/Images/svgs/award-illustration.svg");
  background-position: center;
  overflow: hidden;
  position: relative;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nomination-container {
  margin: 0 auto;
  margin-top: 50px;
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.nomination-item {
  width: 350px;
  margin-bottom: 20px;
}

@media screen and (max-width: 400px) {
  .nomination-item {
    width: 80vw;
    margin-bottom: 20px;
  }
}
.nomination-item-details {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.9em;
  border-radius: 11px;
  background: white;
  box-shadow: 0 8px 6px -6px black;
  border: 3px solid #008060;
  color: #3f3d56;
  font-weight: bold;
}

.nomination-item-details p {
  margin-top: 10px;
}
.tabs-container {
  position: sticky;
  top: 2%;
  margin: 10px auto;
  height: 50px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  width: 80%;
  z-index: 1;
}
.tabs-container li {
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  padding: 5px;
  transition: 0.3s all ease-in;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  background: #3f3d56;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs-item.active {
  background-color: #008060;
}

.tabs-container li:first-of-type {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 2px solid#fbf7ed;
}
.tabs-container li:last-of-type {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-left: 2px solid#fbf7ed;
}

.green,
.red {
  background-color: #008060;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.9rem;
}

.red {
  background-color: #a4303f;
}
