.App {
  background-color: #fbf7ed;
}

.App-header {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url("../assets/Images/svgs/award-illustration.svg");
  background-position: center;
  overflow: hidden;
  position: relative;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nomination-container {
  margin: 0 auto;
  margin-top: 50px;
}

.nomination-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin-bottom: 20px;
}
.nomination-item-details {
  padding: 0.9em;
  border-radius: 11px;
  background: white;
  box-shadow: 0 8px 6px -6px black;
  border: 4px solid #008060;
}

.nomination-item-details p {
  margin-top: 5px;
}
.tabs-container {
  margin: 10px auto;
  height: 30px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.tabs-container li {
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  padding: 5px;
  transition: 0.3s all ease-in;
  outline: none;
  cursor: pointer;
}

.tabs-container li:focus {
  background-color: #fbf7ed;
  border-bottom: 2px solid #008060;
}

.tabs-container li:hover {
  background-color: rgba(187, 68, 48, 0.3);
}
.tabs-container li:first-of-type {
  border-right: 2px solid #008060;
}
