* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #fbf7ed;
}

.hero {
  color: #fbf7ed;
  justify-self: start;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #34e89e;
  background: -webkit-linear-gradient(to right, #0f3443, #008060);
  background: linear-gradient(to right, #0f3443, #008060);
  background: rgba(0, 128, 96, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
}

.hero p {
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 70px;
  z-index: 2;
}

h1 span {
  color: #3f3d56;
}

.btn {
  font-weight: bold;
  padding: 0.8em;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  transition: all 0.5s;
  border-radius: 10px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.133;
  -webkit-font-smoothing: antialiased;
  transition: 150ms ease;
  transition-property: background-color, border-color, box-shadow, color;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #008060;
  color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
}
.btn.nominate:disabled,
.btn.nominate[disabled],
.btn.delete:disabled,
.btn.delete[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn span {
  margin: 2px;
}

.btn i {
  margin: 0 5px;
}

.btn.delete {
  margin: 10px;
  height: fit-content;
  background-color: rgb(255, 70, 40);
}

.btn.nominate {
  margin: 25px 10px 0px 0px;
  height: fit-content;
  background-color: #008060;
}

.ripple-background {
  background: #008060;
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 5s infinite;
  box-shadow: 0px 0px 1px 0px #008060;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.xxlarge {
  width: 250px;
  height: 250px;
  left: -125px;
  bottom: -125px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

.badge-blue {
  background-color: #fbf7ed;
  color: #3f3d56;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bold;
}

.badge-warning {
  background-color: #fbf7ed;
  color: #a4303f;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 10px;
}

.empty-movie-list {
  color: #3f3d56;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  margin-top: 30px;
}
